* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans Expanded", sans-serif;
}

body {
    margin: 0;
    background-color: #4abbed;
    width: 100%;
    height: 100vh;
}


/*
=====================================
            logo
=====================================
*/

.logo {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    left: 33%;
    height: 140px;
    width: 180px;
    background-color: #231f20;
    border-radius: 8px;
}

#mayor {
    position: relative;
    left: 20px;
    top: 49px;
    border-radius: 8px;
    background-color: white;
    height: 15px;
    width: 50px;
    transform: rotate(45deg);
}

#mayor2 {
    position: relative;
    left: 20px;
    top: 59px;
    border-radius: 8px;
    background-color: white;
    height: 15px;
    width: 50px;
    transform: rotate(-45deg);
}

#guion {
    position: relative;
    top: 70px;
    border-radius: 8px;
    left: 75px;
    background-color: #f8b314;
    height: 15px;
    width: 50px;
}


/*
  =================================
          encabezado
  =================================
  */

header {
    margin: 0 auto;
}

h1 {
    position: relative;
    display: inline-block;
    top: -20px;
    left: 34%;
    width: 100px;
    font-size: 50px;
    font-weight: 800;
    color: white;
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    text-align: center;
}

#description {
    position: relative;
    text-align: center;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px rgb(0 0 0 / 50%);
    margin: 10px auto;
}


/*
  ============================
          formulario
  ============================
  */

form {
    width: 50%;
    margin: 10px auto;
    border-radius: 2px;
    box-shadow: 4px 8px 6px 10px rgba(228, 46, 85, 0.1);
    background-color: white;
    padding: 30px;
}

.person {
    display: block;
    border: none;
    margin: 10px auto;
}

.person label {
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(242, 248, 250), #b0d9eb);
    padding: 0.4em 0em;
}

.person input,
select {
    margin: 10px 0 0 0;
    width: 90%;
    min-height: 2.3em;
    border: solid #b0d9eb;
    border-radius: 3px;
}

.formacion {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
    padding: 5px 0px;
    margin-bottom: 15px;
    border: none;
    background-image: linear-gradient(to bottom, rgb(242, 248, 250), #b0d9eb);
}

.formacion legend {
    text-align: center;
    padding: 5px 0px;
}

.formacionIT {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding: 10px 0px;
    margin-bottom: 15px;
    border: none;
    background-image: linear-gradient(to bottom, rgb(242, 248, 250), #b0d9eb);
}

.formacionIT legend {
    text-align: center;
    padding: 5px 0px;
}

.textarea {
    padding-left: 80px;
    padding-top: 10px;
    border: none;
    background-image: linear-gradient(to bottom, rgb(242, 248, 250), #b0d9eb);
}

footer p {
    text-align: left;
    font-size: 10px;
    background-image: none;
}

button {
    vertical-align: super;
    background-color: #4abbed;
    border-radius: 8px;
    width: 65px;
    color: white;
    font-size: 14px;
}

button:hover {
    width: 68px;
    height: 25px;
    background-color: white;
    color: #4abbed
}